@namespace Tonrich.Client.Shared.Pages.Website
@page "/about"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.AboutPageTitle)]</PageTitle>


<section class="about-page">
    <div class="about-page-background"></div>
    <div class="about-us-top-page">
        <div class="top-page-title">About us</div>
        <div class="top-page-desc">We are a team of enthusiastic software and business developers actively working on Telegram-related projects mostly.<br /> Our new focus on TON blockchain is a testament to its dedication to staying at the forefront of emerging technological trends, and a commitment to providing world-class services to its customers.</div>
    </div>
    @* <div class="about-team">
        <div class="about-team-title">Meat our team</div>
        <div class="about-team-desc">
            <div class="about-team-text">Here are the faces behind us, a team of brilliant and enthusiastic individuals who love what they do.</div>
        </div>
    </div> *@
    @* <div class="team-members">
        <div class="team-member1">
            <div class="team-member-info">
                <div class="team-member-info-header">Mehran Davoudi</div>
                <div class="team-member-info-desc">Chief Technology Officer</div>
            </div>
        </div>
        <div class="team-member2">
            <div class="team-member-info">
                <div class="team-member-info-header">Mehran Davoudi</div>
                <div class="team-member-info-desc">Chief Technology Officer</div>
            </div>
        </div>
        <div class="team-member3">
            <div class="team-member-info">
                <div class="team-member-info-header">Mehran Davoudi</div>
                <div class="team-member-info-desc">Chief Technology Officer</div>
            </div>
        </div>
        <div class="team-member4">
            <div class="team-member-info">
                <div class="team-member-info-header">Mehran Davoudi</div>
                <div class="team-member-info-desc">Chief Technology Officer</div>
            </div>
        </div>
        <div class="team-member5">
            <div class="team-member-info">
                <div class="team-member-info-header">Mehran Davoudi</div>
                <div class="team-member-info-desc">Chief Technology Officer</div>
            </div>
        </div>
        <div class="team-member6">
            <div class="team-member-info">
                <div class="team-member-info-header">Mehran Davoudi</div>
                <div class="team-member-info-desc">Chief Technology Officer</div>
            </div>
        </div>
    </div> *@
    
    <RecapTonrich></RecapTonrich>
</section>