@namespace Tonrich.Client.Shared
@inherits AppComponentBase

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<footer>
    <div class="footer-rights">©2023 TonRich. All rights reserved</div>
    <div class="footer-btns">
        <NavLink class="nav-link" href="about">
            About us
        </NavLink>
        <div>Privacy policy</div>
        <div>Terms & condition</div>
    </div>
</footer>