@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_functions.scss';

header {
    height: 12rem;
    padding: 1rem 7.6rem 1rem 5rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    @include customize() {
        background: getValue(PageBackground);
    }
}

.header-content {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 8;
}

.header-left-side {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.header-right-side {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.tonrich-menu {
    padding: 0 2.6rem;

    .nav-link {
        padding: 0 0.6rem;
    }
}

.theme-btn-wrapper {
    margin-left: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    @include customize {
        color: getValue(MainPen);
    }

    .change-theme-btn {
        cursor: pointer;
        margin-right: 4px;
    }
}