@namespace Tonrich.Client.Shared
@inherits AppComponentBase

<header>
    <div class="header-left-side">
        TonRich
    </div>
    <div class="header-right-side">
        <nav class="tonrich-menu">
            <NavLink class="nav-link" href="about">
                About
            </NavLink>
        </nav>
        <button class="tornich-secondary-btn">Install TonRich now</button>
        <div class="theme-btn-wrapper">
            <button class="change-theme-btn" @onclick=ToggleTheme>change Theme</button>
            <div class="theme-title">@(IsDarkTheme ? "Dark" : "Light") mode</div>
        </div>
    </div>
</header>