@namespace Tonrich.Client.Shared
@inherits AppComponentBase

<header>
    <div class="header-left-side">
        TonRich
    </div>
    <div class="header-right-side">
        <nav class="tonrich-menu">
            <NavLink class="nav-link" href="about">
                About
            </NavLink>
        </nav>
        <button class="tornich-secondary-btn">Install TonRich now</button>
        <div class="theme-btn-wrapper">
            <div class="change-theme-btn"></div>
            <div class="theme-title">Night mode</div>
        </div>
    </div>
</header>