@import "../Styles/abstracts/_media-queries.scss";
@import "../Styles/abstracts/_colors.scss";
@import "../Styles/abstracts/_functions.scss";

@font-face {
    font-family: "Roboto";
    src: url("/Roboto.ttf");
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    @include customize() {
        background: getValue(PageBackground);
    }
}

.main-content {
    flex-grow: 2;
    width: 100%;
}
