@namespace Tonrich.Client.Shared
@inherits LayoutComponentBase

<div class="main">
    <Header />
    <div class="main-content">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
    </div>
    <Footer />
</div>

<MessageBox />
