@namespace Tonrich.Client.Shared
@inherits LayoutComponentBase

<div class="main @ThemeClass(IsDarkTheme)">
    <Header OnToggleTheme="HandleToggleTheme" IsDarkTheme="IsDarkTheme"/>
    <div class="main-content">
        <AppErrorBoundary>
            @Body
        </AppErrorBoundary>
    </div>
    <Footer />
</div>

<MessageBox />
