@*<div class="mini-loading loading-@(Color)"> </div>*@



<lottie-player class="loading-second-color" src="../lottie/loading.json" background="transparent" speed="1" style="width: 14px; height: 19px;" loop autoplay></lottie-player>