@*<div class="mini-loading loading-@(Color)"> </div>*@

@*<lottie-player class="loading" src="./lottie/loading.json" background="transparent" speed="1" style="width: 20px; height: 5px;" loop autoplay></lottie-player>

<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_pbgnop.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>*@

<lottie-player class="loading" src="../lottie/loading.json" background="transparent" speed="1" style="width: 50px; height: 50px;" loop autoplay></lottie-player>