@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_mixins.scss';
@import '../Styles/abstracts/_functions.scss';

.trx-card {
    height: 56px;
    padding: 14px;
    max-width: 273px;
    padding: 0 8px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;
    @include customize() {
        background-color: getValue(SecondBackground);
    }
}

.trx-public-icon {
    width: 32px;
    height: 32px;
    border-radius: $Radius4;
    margin-right: 7px;
}

.balance-icon {
    background: url("images/icons/balance.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:32px;
}

.deposit-rate-icon {
    background: url("images/icons/deposit-rate.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
}

.spend-rate-icon {
    background: url("images/icons/spend-rate.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
}

.worth-icon {
    background: url("images/icons/worth.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
}

.deposit-last-month-icon {
    background: url("images/icons/deposit-last-month.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
}

.spend-last-month-icon {
    background: url("images/icons/spend-last-month.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
}

.card-title {
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: $FontSize12;
    line-height: 14px;
    margin-bottom: 4px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include customize() {
        color: getValue(SecondaryPen);
    }
}
.notic-icon {
    width: 12px;
    height: 12px;
    background: url("images/icons/notic-icon.svg");
    margin-left: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    position: relative;
}

.tooltip-box {
    width: 250px;
    height: 100px;
    cursor: default;
    position: absolute;
    right: -249px;
    top: 12px;
    z-index: 2;
    padding: 8px 10px;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.3);
    @include customize() {
        background-color: getValue(TooltipBackground);
    }


    .tooltip-box-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;

        @include customize() {
            color: getValue(TooltipHeaderTitle);
        }

        .tooltip-header-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: $FontSize14;
            line-height: 24px;
        }

        .tooltip-box-close {
            width: 15px;
            height: 20px;
            cursor: pointer;
            background: url("images/icons/close-tooltip.svg");
            background-position: center;
            background-size: 8px;
            background-repeat: no-repeat;
        }
    }

    .tooltip-box-content {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        white-space: break-spaces;
        color: #313131; /* this color not change and in the dark and light mode is fixed*/
    }
}

.value-container {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: $FontSize12;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include customize() {
        color: getValue(SecondaryPen);
    }

    .trx-value {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize16;
        line-height: 19px;
        margin-right:4px;
        @include customize() {
            color: getValue(MainPen);
        }
    }
}


@media screen and (max-width: $Breakpoint) {

    .order-zero {
        order: 0;
    }

    .order-one {
        order: 1;
    }

    .order-two {
        order: 2;
    }

    .order-three {
        order: 3;
    }

    .order-four {
        order: 4;
    }

    .order-five {
        order: 5;
    }
}