<div class="trx-card order-@OrderName">
    <div class="trx-public-icon @IconName-icon"></div>
    <div class="card-content">
        <div class="card-title" @onclick="ToggleTrxInfo">@Title
            <div class="notic-icon">
                @if (IsTooltipOpen)
                {
                    <div class="tooltip-box">
                        <div class="tooltip-box-header">
                            <div class="tooltip-header-title">@Title</div>
                            <div class="tooltip-box-close"></div>
                        </div>
                        <div class="tooltip-box-content">Toncoin (TON) is the native token of the TON network. TON is an
                            acronym for "The Open Network"</div>
                    </div>
                }
            </div>

        </div>
        @if (IsBusy)
        {
            <div class="value-container"><span class="trx-value">@Value</span> Ton</div>
        }
        else
        {
            <MiniLoading Color="main-color"></MiniLoading>
        }
    </div>
</div>