
<div class="trx-card order-@OrderName">
    <div class="trx-public-icon @IconName-icon"></div>
    <div class="card-content">
        <div class="card-title" @onclick=ToggleTrxInfo>
            @Title
            <div class="notic-icon">
                @if (IsTooltipOpen)
                {
                    <div class="tooltip-box" @onclick:stopPropagation="true" @onclick:preventDefault="true">
                        <div class="tooltip-box-header">
                            <div class="tooltip-header-title">@Title</div>
                            <div class="tooltip-box-close" @onclick=CloseToolTip></div>
                        </div>
                        <div class="tooltip-box-content">@Description</div>
                    </div>
                }
            </div>

        </div>
        @if (IsBusy)
        {
            <MiniLoading Color="main-color"></MiniLoading>
        }
        else
        {
            <div class="value-container"><span class="trx-value">@string.Format("{0:0.00}", Value)</span> Ton</div>
        }
    </div>
</div>