/* Roboto-Thin */
@font-face {
    font-family: "Roboto-Thin";
    src: url("/font/Roboto-Thin.woff2") format("woff2"),
         url("/font/Roboto-Thin.woff") format("woff"),
         url("/font/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Roboto-Light */
@font-face {
    font-family: "Roboto-Light";
    src: url("/font/Roboto-Light.woff2") format("woff2"),
         url("/font/Roboto-Light.woff") format("woff"),
         url("/font/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Roboto-Regular */
@font-face {
    font-family: "Roboto-Regular";
    src: url("/font/Roboto-Regular.woff2") format("woff2"),
         url("/font/Roboto-Regular.woff") format("woff"),
         url("/font/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Roboto-Medium */
@font-face {
    font-family: "Roboto-Medium";
    src: url("/font/Roboto-Medium.woff2") format("woff2"),
         url("/font/Roboto-Medium.woff") format("woff"),
         url("/font/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Roboto-Bold */
@font-face {
    font-family: "Roboto-Bold";
    src: url("/font/Roboto-Bold.woff2") format("woff2"),
         url("/font/Roboto-Bold.woff") format("woff"),
         url("/font/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Roboto-Black */
@font-face {
    font-family: "Roboto-Black";
    src: url("/font/Roboto-Black.woff2") format("woff2"),
         url("/font/Roboto-Black.woff") format("woff"),
         url("/font/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Ubuntu-Light */
@font-face {
    font-family: "Ubuntu-Light";
    src: url("/font/Ubuntu-Light.woff2") format("woff2"),
         url("/font/Ubuntu-Light.woff") format("woff"),
         url("/font/Ubuntu-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Ubuntu-Regular */
@font-face {
    font-family: "Ubuntu-Regular";
    src: url("/font/Ubuntu-Regular.woff2") format("woff2"),
         url("/font/Ubuntu-Regular.woff") format("woff"),
         url("/font/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Ubuntu-Medium */
@font-face {
    font-family: "Ubuntu-Medium";
    src: url("/font/Ubuntu-Medium.woff2") format("woff2"),
         url("/font/Ubuntu-Medium.woff") format("woff"),
         url("/font/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Ubuntu-Bold */
@font-face {
    font-family: "Ubuntu-Bold";
    src: url("/font/Ubuntu-Bold.woff2") format("woff2"),
         url("/font/Ubuntu-Bold.woff") format("woff"),
         url("/font/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* SpaceGrotesk-Bold */
@font-face {
    font-family: "SpaceGrotesk-Bold";
    src: url("/font/SpaceGrotesk-Bold.woff2") format("woff2"),
         url("/font/SpaceGrotesk-Bold.woff") format("woff"),
         url("/font/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
