
<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="title" title="Tonrich" />
    <meta name="description" content="Tonrich is the ultimate tool for anyone who wants to uncover the secrets of TON wallets and gain valuable insights into the NFT market. Download Tonrich today and start your journey into the world of TON wallets and NFT auctions!" />
    <meta name="keywords" content="TON Coin, Wallet Analysis, TON Wallets, TON Connect, Wallet Compatibility, TON Bridge, Secure Transactions, Peer-to-Peer Transactions, TON Ecosystem, Blockchain Wallets">

    <meta property="og:title" content="Tonrich" />
    <meta property="og:description" content="Tonrich is the ultimate tool for anyone who wants to uncover the secrets of TON wallets and gain valuable insights into the NFT market. Download Tonrich today and start your journey into the world of TON wallets and NFT auctions!" />
    <meta property="og:image" content="https://tonrich.app/images/landing-page/Light/how1-image.png" />
    <meta property="og:image:secure_url" content="https://tonrich.app/images/landing-page/Light/how1-image.png" />
    <meta property="og:image:type" content="image/svg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />

    <Link rel="icon" href="/tonrich-logo.svg" type="image/x-icon" />
    <HeadOutlet @rendermode=RenderModeProvider.Current />
    <Link rel="apple-touch-icon" sizes="512x512" href="images/icons/tonrich-logo.svg" />
    <Link href="Roboto.ttf" rel='stylesheet'/>
        <style>
        html {
            width: 100%;
            height: 100%;
            font-size: 62.5%;
        }

        body {
            margin: 0;
            padding: 0;
            /* width: 100vw; */
            /* height: 100dvh; */
            background: #FFF;
            font-size: 1.6rem;
        }

        #app-container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body class="@BitCss.Class.Color.Background.Primary @BitCss.Class.Color.Foreground.Primary">

    <Link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.css" />
    <Link rel="stylesheet" href="_content/Bit.BlazorUI.Icons/styles/bit.blazorui.icons.css" />
    <Link rel="stylesheet" href="_content/Bit.BlazorUI.Assets/styles/bit.blazorui.assets.css" />
    <Link rel="stylesheet" href="styles/app.css" />
    <Link rel="stylesheet" href="Tonrich.Client.bundle.scp.css" />

    <Routes @rendermode=RenderModeProvider.Current />

    @if (HttpContext.Request.IsCrawlerClient() is false)
    {
        <Script src="_framework/blazor.web.js"></Script>
        <Script src="_content/Bit.BlazorUI/scripts/bit.blazorui.js"></Script>
        <Script src="scripts/app.js"></Script>
        <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    }

</body>

</html>

