@import "../Styles/abstracts/_media-queries.scss";
@import "../Styles/abstracts/_colors.scss";
@import "../Styles/abstracts/_functions.scss";

footer {
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    position: relative;
    z-index: 2;

    @include customize() {
        color: getValue(Footer-color);
    }

    font-weight: 500;
    font-family: Ubuntu;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    @include customize {
        background-color: getValue(Footer-background);
    }

    div {
        font-size: 17px;

        &::selection {
            background: transparent;
        }
    }

    .footer-rights {
        opacity: 0.8;
        cursor: default;
    }

    .footer-btns {
        display: flex;
        gap: 40px;

        ::deep a {
            @include customize() {
                color: getValue(Footer-color);
            }

            opacity: 0.8;
            cursor: pointer;
            transition: opacity 0.15s;
        }

        ::deep a:active {
            @include customize() {
                color: getValue(Footer-color);
            }
        }

        ::deep a:hover {
            opacity: 1;
        }

        div {
            opacity: 0.8;
            cursor: pointer;
            transition: opacity 0.15s;

            &:hover {
                opacity: 1;
            }

            &:active {
                opacity: 0.9;
            }
        }
    }
}
