@namespace Tonrich.Client.Shared
@inherits LayoutComponentBase

<div class="main @ThemeClass(IsDarkTheme)">
    <CascadingValue Value="@AppStateDto" Name="AppStateDto">
        <div class="main-content">
            <AppErrorBoundary>
                @Body
            </AppErrorBoundary>
        </div>
    </CascadingValue>
</div>

<MessageBox />
