@page "/about"
@inherits AppComponentBase

<section>
    <div>About page will come here...</div>
    <div class="about-us-top-page"></div>
    <div class="about-team">
        <div class="about-team-desc"></div>
        <ul class="team-members">
            <li class="team-member"></li>
            <li class="team-member"></li>
            <li class="team-member"></li>
            <li class="team-member"></li>
            <li class="team-member"></li>
        </ul>
    </div>

    @* todo: make this part a component *@
    <div class="recap-sec"></div>
</section>