@page "/about"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.AboutPageTitle)]</PageTitle>


<section class="about-page">
    <div class="about-page-background"></div>
    <div class="about-us-top-page">About us</div>
    <div class="about-us-desc">Exprience Tonrich through our team's unique<br>perspective</div>
    <div class="about-team">Meat our team
        <div class="about-team-desc"></div>
        <ul class="team-members">
            <li class="team-member"></li>
            <li class="team-member"></li>
            <li class="team-member"></li>
            <li class="team-member"></li>
            <li class="team-member"></li>
        </ul>
    </div>

    @* todo: make this part a component *@
    <div class="recap-sec"></div>
</section>