@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_mixins.scss';
@import '../Styles/abstracts/_functions.scss';


    .about-page {
        position: relative;
        width: 100%;
        height: 100%;
        @include customize() {
            background-color: getValue(PageBackground);
        }
        @include customize() {
            color: getValue(FooterPen);
        }
    }

    .about-page-background {
        background-image: url("/images/background-images/about-page-background.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -12rem;
        left: 0;
        right: 0;
        z-index: 6;
    }

    .about-us-top-page {
        height: 80rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 7;

        .top-page-title {
            text-align: center;
            font-family: Ubuntu;
            font-size: $FontSize96;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.674px;
            margin-bottom: 2.1rem;
        }

        .top-page-desc {
            font-family: Roboto;
            font-size: $FontSize34;
            font-weight: 400;
            text-align: center;
            max-width: 90%;
        }
    }



    .about-team {
        width: 100%;
        position: relative;
        z-index: 7;
    }

    .about-team-title {
        font-family: Ubuntu;
        font-size: $FontSize48;
        font-weight: 700;
        line-height: 84px;
        text-align: center;
        width: 100%;
    }

    .about-team-desc {
        text-align: center;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        .about-team-text {
            max-width: 106.6rem;
        }
    }

    .team-members {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:36.5vw 36.5vw;
        padding: 6.4rem 9.8rem 9.5rem 9.8rem;   
    }

    .team-members > div {
        border-radius: 3rem;   
    }

    .team-members div:hover {
        filter: none;
    }

    .team-member{
        position: relative;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter:grayscale(100%);
        background-position: center;
        background-size: cover;
    }

    .team-member1 {
        background-image: url("/images/background-images/member1.png");
    }


    .team-member2 {
        background-image: url("/images/background-images/member1.png");
    }

    .team-member3 {
        background-image: url("/images/background-images/member1.png");
    }

    .team-member4 {
        background-image: url("/images/background-images/member1.png");
    }

    .team-member5 {
        background-image: url("/images/background-images/member1.png");
    }

    .team-member6 {
        background-image: url("/images/background-images/member1.png");
    }

    .team-member-info {
        position:absolute;
        bottom: 2rem;
        right: 2rem;
        left: 2rem;
        padding: 2rem;        
        height: 5.4rem;
        border-radius: 2.1rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background-color:#FFFFFF66;
    
        
                               
            .team-member-info-header {
                font-family: Roboto;
                font-size: 20px;
                font-weight: 500;
                line-height: 23px;
                text-align: left;
            }

            .team-member-info-desc {
                top: 2rem;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                text-align: left;

            }

    }

.try-tonrich {
    position: relative;
    height: 105.2rem;
    margin: 8rem;
    border-radius: 1rem;
    background-image: url(/images/background-images/trytonrich.png);
    background-color: #300D36;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;

    .try-tonrich-title {
        font-family: Ubuntu;
        font-size: 5.8rem;
        font-weight: 700;
        line-height: 6.5rem;
        text-align: left;
        padding-left: 7rem;
        padding-top: 9.9rem;
    }

    .try-tonrich-disc {
        padding-left: 7rem;
        font-family: Ubuntu;
        font-size: 3.4rem;
        font-weight: 400;
        line-height: 4.5rem;
        text-align: left;

        .try-tonrich-desc1 {
            padding-top: 7rem;
            width: 40%;
        }

        .try-tonrich-desc2 {
            padding-top: 3.3rem;
            width: 50%;
        }

        .try-tonrich-desc3 {
            padding-top: 3.3rem;
            width: 60%;
        }
    }
}


    ul {
        margin: 0;
    }



    //media queries
    @media screen and (max-width: $Breakpoint5) {
        .team-members {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows:50vw 50vw 50vw;
            padding: 6.4rem 9.8rem 9.5rem 9.8rem;
        }
    }


     //media queries
    @media screen and (max-width: 40rem) {
        .team-members {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows:80vw 80vw 80vw 80vw 80vw 80vw;
            padding: 6.4rem 9.8rem 9.5rem 9.8rem;   
        }
    }