@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_mixins.scss';
@import '../Styles/abstracts/_functions.scss';



.about-page {
    position: relative;
    width: 100%;
    height: 100%;
    @include customize() {
        background-color: getValue(PageBackground);
    }
}

.about-page-background {
    background-image: url("/images/background-images/about-page-background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -12rem;
    left: 0;
    right: 0;
}

ul {
    margin: 0;
}