@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_mixins.scss';
@import '../Styles/abstracts/_functions.scss';


/*.landing-page {
    padding: 0 5rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid red;
}

.hero-section {
    width: 100%;
    min-height: 69.5rem;
    position: relative;
    border-radius: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    @include customize() {
        background-color: getValue(HeroBackground);
    }

    .hero-content {
        padding-left: 7.9rem;

        .hero-title {
            padding-top: 8rem;
        }
    }

    .hero-img {
        position: absolute;
        top: -5rem;
        right: -5rem;
        width: 100rem;
        height: 100rem;
        background-color: orange;
    }
}*/

.hero-section {
    background: url("images/background-images/hero-background.png") center/cover no-repeat;
    width: 92vw;
    border-radius: 2rem;
    height: 69.5rem;
    margin: 10px auto 0;
    color: white;

    .hero-img {
        width: 85vw;
        height: 125rem;
        position: absolute;
        right: 0;
        top: 0;
        background: url("images/background-images/hero-triangle.png") center/cover no-repeat;
    }

    .hero-content {
        width: 45vw;
        height: 37rem;
        grid-template-rows: repeat(3, 1fr);
        position: relative;
        top: 214px;
        left: 80px;

        &-title {
            background: url("images/background-images/hero-logo.svg") left no-repeat;
            padding-left: 9.5rem;
            display: inline;
            font-size: 7.7rem;
            font-family: Space Grotesk;
            font-weight: 700;
            letter-spacing: 0.19rem;
            line-height: 7.788rem;
        }

        &-description {
            font-family: Roboto, sans-serif;
            font-weight: 400;
            font-size: 3.4rem;
            line-height: 3.86rem;
            letter-spacing: -0.1rem;
            margin: 45px 0 35px;
        }

        &-btn {
            // background: url("../img/hero-arrow.svg") cover no-repeat right,
            //     linear-gradient(to top left, #feb752, #fc4c25);

            background: linear-gradient(142deg, #fc4c25 0%, #feb752 100%);
            // background: url("../img/hero-arrow.svg") cover/right no-repeat;
            // background-size: 10px;

            @include sections-btn();
        }
    }
}

.discover-section {
    margin: 12.5rem auto;
    background: linear-gradient(rgba(255, 0, 0, 0.07), rgba(255, 0, 0, 0.07)), url("images/background-images/hero-background.png") center/cover no-repeat;
    width: 92vw;
    height: 82rem;
    border-radius: 2rem;
    position: relative;
    color: white;

    .splash-of-color {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("images/background-images/Discover-background.png") right/cover no-repeat;
        opacity: 0.9;
        border-radius: 2rem;
    }

    .discover-app {
        background: url("images/background-images/Discover-app.png") left/cover no-repeat;
        width: 50.5vw;
        height: 700px;
        // border: 1px solid rgb(17, 0, 255);
        position: absolute;
        right: 0;
        top: 48px;
    }

    .discover-content {
        width: 35vw;
        max-height: 495px;
        position: absolute;
        top: 17.6rem;
        top: 13vw;
        left: 6%;

        .discover-frame {
            @include gray-frames();
        }

        .discover-header {
            @include sections-header();
            font-weight: 100;
            white-space: nowrap;
            margin: 21px 0 7px;

            span {
                @include sections-header();
                font-weight: 700;
            }
        }

        .discover-text {
            @include sections-text();

            &-padding-top {
                padding-top: 10px;
                overflow: hidden;
            }
        }
    }
}

.how-sections {
    border: 2px solid pink;
    color: white;

    .how-section {
        height: 610px;
        width: 92vw;
        // border: 1px solid blue;
        margin: 40px auto;
        border-radius: 2rem;
        position: relative;
        background: url("images/background-images/hero-background.png") center/cover no-repeat;
    }

    .splash-of-color {
        // border: 1px solid yellow;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .browser-intro {
        position: relative;

        .splash-of-color {
            background: linear-gradient( rgba(255, 0, 0, 0.07), rgba(255, 0, 0, 0.07) ), url("images/background-images/how1-background.png") right/cover no-repeat;
            background-position: 150px;
            opacity: 0.9;
        }

        .browser-content {
            // border: 2px solid rgb(30, 255, 0);
            z-index: 2;
            width: 35vw;
            max-height: 600px;
            position: absolute;
            top: 5vw;
            left: 6%;

            .introducing-frame {
                @include gray-frames();
            }

            .browser-header {
                // border: 1px solid rgb(0, 242, 255);
                @include sections-header();
                white-space: nowrap;
                font-weight: 500;
                margin-top: 26px;
            }

            .browser-text {
                @include sections-text();
                margin-bottom: 28px;
            }

            .browser-btn {
                @include sections-btn();
                background: white;
                color: black;
            }
        }

        .browser-img {
            // border: 1px solid white;
            width: 535px;
            height: 550px;
            background: url("images/background-images/how1-image.png") center/cover no-repeat;
            position: absolute;
            right: 2vw;
            bottom: 0;
            z-index: 2;
        }
    }
}


//old code
// .page-container {
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: flex-start;
//     align-items: center;
//     width: 100%;
//     padding: 0 rem(16px);
//     box-sizing: border-box;
// }

// .page-section {
//     width: 100%;
// }

// .hero-section {
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: flex-start;
//     align-items: center;
//     width: 100%;
//     padding: rem(144px) 0;
//     box-sizing: border-box;

//     @include lt-xl {
//         padding: rem(130px) 0;
//     }

//     @include sm {
//         padding: rem(120px) 0;
//     }
// }

// .hero-section-title {
//     margin-bottom: rem(32px);
//     font-weight: bold;
//     font-size: rem(42px);
//     line-height: rem(62px);
//     color: #FF5C11;
//     text-align: center;

//     @include lg {
//         margin-bottom: rem(24px);
//         font-size: rem(34px);
//         line-height: rem(56px);
//     }

//     @include md {
//         margin-bottom: rem(24px);
//         font-size: rem(26px);
//         line-height: rem(44px);
//     }

//     @include sm {
//         margin-bottom: rem(16px);
//         font-size: rem(24px);
//         line-height: rem(40px);
//     }
// }

// .hero-section-desc {
//     max-width: rem(1232px);
//     margin-bottom: rem(40px);
//     font-size: rem(24px);
//     line-height: rem(40px);
//     color: $Green2;
//     text-align: center;

//     @include lg {
//         max-width: rem(821px);
//         margin-bottom: rem(38px);
//         font-size: rem(20px);
//         line-height: rem(32px);
//     }

//     @include md {
//         max-width: rem(572px);
//         margin-bottom: rem(32px);
//         font-size: rem(18px);
//         line-height: rem(28px);
//     }

//     @include sm {
//         max-width: 100%;
//         margin-bottom: rem(32px);
//         font-size: rem(14px);
//         line-height: rem(24px);
//     }
// }

// ::deep .hero-section-cta {
//     height: rem(34px);
//     border: rem(1px) solid $White;
//     color: $White;
//     background-color: $SecondaryColor;

//     &:hover {
//         background-color: $SecondaryColor;
//         border-color: $White;
//     }
// }

// ::deep .wallet-input {
//     width: 420px;
//     margin: 5px;
// }

