@page "/"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.HomeTitle)]</PageTitle>

<div class="page-container">
    <section class="page-section hero-section">
        <h1 class="hero-section-title">@Localizer[nameof(AppStrings.HomeTitle)]</h1>

        <div class="hero-section-desc">
            @Localizer[nameof(AppStrings.ComingSoon)]
        </div>

        <BitTextField Class="wallet-input" Placeholder="Enter your wallet address..." OnChange="(c)=>ChangeWalletAddress(c)"></BitTextField>
        <BitButton Href=@($"/wallet/{WalletAddress}")>Connect to wallet</BitButton>
    </section>
</div>
