@page "/search"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.SearchPageTitle)]</PageTitle>

<section>
    <div class="search-page">
		<div class="search-page-background"></div>
        <div class="search-page-logo"></div>
        <div class="search-page-title">TonRich</div>
        <div class="search-page-desc">Rich look at a glance</div>
        <div class="search-items">
            <input type="text" class="search-wallet" placeholder="Enter the wallet address here">
        </div>
    </div>
</section>


