@page "/WalletNotFound"
@inherits AppComponentBase

<PageTitle>Page Not Found</PageTitle>

<div class="error">
    <div class="error-number">404</div>
    <div class="error-title">Page Not Found</div>
</div>

