@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_functions.scss';

.error{
    align-items: center;
    display: flex;
    flex-direction:column;

    .error-number {
        font-size: 100px;
        font-weight:bold
    }
    .error-title
    {

    }
}