@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_mixins.scss';
@import '../Styles/abstracts/_functions.scss';


.main-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.tonrich-container {
    max-width: 914px;
    min-width: 426px;
    width: 100%;
    min-height: 689px;
    border-radius: $Radius32;
    padding: 32px 32px 15px 32px;
    box-sizing: border-box;

    @include customize() {
        background-color: getValue(MainBackground);
    }
}

.owner-info-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 16px;
    @include customize() {
        border-bottom: 1.5px solid getValue(BetweenLine);
    }

    .wallet-info {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        .wallet-name {
            margin-right: 5px;
        }
    }

    .tonrich-logo {
        width: 52px;
        height: 52px;
        margin-right: 16px;
        background: url("images/icons/tonrich-logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 52px;
    }

    .tonrich-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: $FontSize24;
        line-height: 28px;

        @include customize() {
            color: getValue(MainPen);
        }
    }
}

.wallet-id {
    cursor: pointer;

    @include customize() {
        background-color: getValue(WalletIdBackground);
    }
}

.copy-tooltip-box{
    display: none;
}

.wallet-id:hover {

    .copy-tooltip-box {
        display: block;
        position: absolute;
        font-size: $FontSize14;
        border-radius: 4px;
        height: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 4px;
        @include customize() {
            color: getValue(CopyTooltipPen);
            background-color: getValue(CopyTooltipBackground);
        }
    }
}


.public-font-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: $FontSize16;
    line-height: 21px;

    @include customize() {
        color: getValue(MainPen);
    }
}

.trx-info-wrapper {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 28px;
}

.activity-diagram-wrapper {
    margin-top: 28px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.diagram-unit {
    position: relative;

    .diagram-unit-tool-tip {
        visibility: hidden;
        min-width: 152px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 8px 8px 8px 0px;
        padding: 4px 12px 8px 12px;
        position: absolute;
        z-index: 1;
        bottom: 60%;
        left: 340%;
        margin-left: -60px;
        box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.3);
        white-space: nowrap;

        @include customize() {
            background-color: getValue(TooltipBackground);
        }

        @include customize() {
            color: getValue(MainPen);
        }
    }

    &:hover .diagram-unit-tool-tip {
        visibility: visible;
    }
}

.activity-diagram-part {
    padding: 0 20px 16px 0;
    border-radius: $Radius8;
    width: 100%;

    @include customize() {
        background-color: getValue(SecondBackground);
    }
}

.month-row-caption {
    height: 48px;
    padding: 0 84px 0 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.diagram-day-result {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: row nowrap;

    .day-column-caption {
        width: 52px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column nowrap;
    }

    .diagram-result-box {
        width: 100%;
        flex-grow: 2;
        display: grid;
        gap: 4px;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(26, 1fr);

        .diagram-unit {
            width: 100%;
            max-height: 100%;
            aspect-ratio: 1/1;
        }
    }
}

.caption-item {
    font-style: normal;
    font-weight: 500;
    font-size: $FontSize14;
    line-height: 16px;

    @include customize() {
        color: getValue(DiagramPen);
    }
}

.status-diagram {
    height: 100%;
    width: 100%;
    min-width: 386px;
    padding: 16px 19px 16px 16px;
    background-color: silver;
    box-sizing: border-box;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;

    @include customize() {
        background-color: getValue(SecondBackground);
    }
}

.loading-unit-11{
    background-color: #FF5C11;
    animation-name: animation-unit-one;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animation-unit-one {
    0%   {background-color: #FF5C11;}
    25%  {background-color: #FE9A6B;}
    50%  {background-color: #FE9A6B;}
    100% {background-color: #FFD8C7;}
}

.loading-unit-12{
    background-color: #FFD8C7;
    animation-name: animation-unit-two;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animation-unit-two {
    0%   {background-color: #FFD8C7;}
    25%  {background-color: #FF5C11;}
    50%  {background-color: #FE9A6B;}
    100% {background-color: #FFD8C7;}
}

.loading-unit-13{
    background-color: #FFD8C7;
    animation-name: animation-unit-three;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animation-unit-three {
    0%   {background-color: #FFD8C7;}
    25%  {background-color: #FFD8C7;}
    50%  {background-color: #FF5C11;}
    100% {background-color: #FE9A6B;}
}

.loading-unit-14{
    background-color: #FFD8C7;
    animation-name: animation-unit-four;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animation-unit-four {
    0%   {background-color: #FFD8C7;}
    25%  {background-color: #FFD8C7;}
    50%  {background-color: #FFD8C7;}
    100% {background-color: #FF5C11;}
}

.color-guide-table {
    height: 100%;
    min-height: 228px;
    min-width: 130px;
    min-width: 128px;
    margin-left: 16px;
    padding: 16px 12px;
    box-sizing: border-box;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;

    @include customize() {
        background-color: getValue(SecondBackground);
    }

    @include customize() {
        color: getValue(MainPen);
    }

    .color-guide-title {
        font-size: 14px;
        margin-bottom: 16px;
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
    }
}

.guide-list {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row nowrap;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize14;
        line-height: 20px;
        margin-bottom: 16px;

        div {
            margin-right: 8px;
            width: 20px;
            height: 20px;
        }
    }
}

.guide-list li:last-child {
    margin-bottom: 0;
}

.range-zero {
    @include customize() {
        background-color: getValue(OriginalGray);
    }
}

.range-one {
    @include customize() {
        background-color: getValue(OrangeDiagram1);
    }
}

.range-two {
    @include customize() {
        background-color: getValue(OrangeDiagram2);
    }
}

.range-three {
    @include customize() {
        background-color: getValue(OrangeDiagram3);
    }
}

.range-four {
    @include customize() {
        background-color: getValue(OrangeDiagram4);
    }
}

.nft-info-wrapper {
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 15px;
}

.nft-info {
    min-height: 61px;
    min-width: 273px;
    box-sizing: border-box;
    padding: 10px 8px 7px 8px;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;

    @include customize() {
        background-color: getValue(SecondBackground);
    }

    .nft-icon {
        width: 55px;
        height: 20px;
        background: url("images/icons/nft-icon.svg");
        background-repeat: no-repeat;
        background-size: 20px 55px;
        background-position: left;
        margin-bottom: 8px;
        padding-left: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize12;
        line-height: 14px;
        display: flex;
        align-items: center;

        @include customize() {
            color: getValue(SecondaryPen);
        }
    }

    .nft-info-header {
        margin-bottom: 6px;
    }

    .nft-value {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize12;
        line-height: 14px;
        display:flex;
        align-items: center;
        justify-content:flex-start;

        @include customize() {
            color: getValue(SecondaryPen);
        }

        span {
            font-size: 16px;
            line-height: 19px;
            margin-right: 4px;

            @include customize() {
                color: getValue(MainPen);
            }
        }
    }
}

.nft-information {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 8px;
    .nft-information-box {
        min-width: 124px;
        min-height: 35px;
        padding: 1px 4px;
        border-radius: $Radius4;

        @include customize() {
            background-color: getValue(ThirdBackground);
        }
    }

    .nft-information-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize12;
        line-height: 14px;

        @include customize() {
            color: getValue(SecondaryPen);
        }
    }

    .nft-information-value {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: $FontSize14;
        line-height: 16px;

        @include customize() {
            color: getValue(LoadingSecondColor);
        }
    }
}

.nft-list-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    overflow: hidden;
}

.nft-list-container-loading-mode {
    height: 98px;
    width: 100%;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;

    @include customize() {
        background-color: getValue(SecondBackground);
    }
}

.nft-list-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 12px;
    padding: 0px;
    margin: 0px;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;

    .nft-box {
        width: 133px;
        height: 35px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize16;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        padding: 0 8px;
        border-radius: $Radius8;

        @include customize() {
            background-color: getValue(SecondBackground);
        }

        @include customize() {
            color: getValue(MainPen);
        }
    }
}

.empty-mode {
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: $FontSize24;
    line-height: 28px;
    border-radius: $Radius8;

    @include customize() {
        background-color: getValue(SecondBackground);
    }

    @include customize() {
        color: getValue(MainPen);
    }
}

.about-tonrich-wrapper {
    height: 16px;
    display: flex;
    margin-top: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: $FontSize12;
    line-height: 14px;

    @include customize() {
        color: getValue(AboutSite);
    }

    .tonrich-site-icon {
        background: url("images/icons/tonrich-site-icon.svg");
        padding-left: 24px;
        background-repeat: no-repeat;
        background-size: $FontSize16;
        display: flex;
        align-items: center;
        margin-right: 23px;
    }

    .tonrich-telegram-icon {
        background: url("images/icons/tonrich-telegram-icon.svg");
        padding-left: 20px;
        background-repeat: no-repeat;
        background-size: 16px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: $Breakpoint) {
    .wallet-info {
        margin-bottom: 11px;
    }

    .dash {
        display: none;
    }

    .public-font-style {
        font-size: $FontSize10;
    }

    .tonrich-title {
        font-size: $FontSize20;
    }
}

@media screen and (max-width: $Breakpoint) {
    .trx-info-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 12px;
        gap: 8px 12px;

        .order-zero {
            background-color: red !important;
            order: 0;
        }
    }

    .color-guide-table {
        display: none;
    }

    .activity-diagram-wrapper {
        margin-top: 12px;
    }

    .nft-info-wrapper {
        flex-flow: column;
        margin-top: 12px;
        gap: 8px;
    }

    .nft-info {
        width: 100%;
        display: flex;
        flex-flow: row;
        padding: 8px;
        justify-content: space-between;
    }

    .tonrich-container{
        padding: 24px 20px;
    }
    .owner-info-wrapper{
        padding-bottom : 12px;
    }
    .activity-diagram-part {
        padding-bottom: 8px;
    }
    .about-tonrich-wrapper{
        margin-top: 17px;
    }
}

.about-me-link {
    text-decoration: none;

    @include customize() {
        color: getValue(AboutSite);
    }
}
