@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_mixins.scss';
@import '../Styles/abstracts/_functions.scss';


.main-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.tonrich-container {
    max-width: 914px;
    min-width: 426px;
    width: 100%;
    min-height: 689px;
    border-radius: $Radius32;
    padding: 32px 32px 15px 32px;
    box-sizing: border-box;

    @include customize() {
        background-color: getValue(MainBackground);
    }
}

.owner-info-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1.5px solid #E7E7E7;
    padding-bottom: 16px;

    .wallet-info {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        .wallet-name {
            margin-right: 5px;
        }
    }

    .tonrich-logo {
        width: 52px;
        height: 52px;
        margin-right: 16px;
        background: url("images/icons/tonrich-logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 52px;
    }

    .tonrich-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: $FontSize24;
        line-height: 28px;

        @include customize() {
            color: getValue(MainPen);
        }
    }
}

.wallet-id {
    cursor: pointer;
}

.copy-tooltip-box{
    display: none;
}

.wallet-id:hover {

    .copy-tooltip-box {
        display: block;
        position: absolute;
        font-size: $FontSize14;
        border-radius: 4px;
        height: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 4px;
        @include customize() {
            color: getValue(CopyTooltipPen);
            background-color: getValue(CopyTooltipBackground);
        }
    }
}


.public-font-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: $FontSize16;
    line-height: 21px;

    @include customize() {
        color: getValue(MainPen);
    }
}

.trx-info-wrapper {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 28px;
}

/*.trx-card-loading-mode {
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 22px 1px rgba(65, 64, 64, 0.07);   // todo : check if not use delete
    border-radius: 8px;
}
*/
.activity-diagram-wrapper {
    margin-top: 28px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.diagram-unit {
    position: relative;

    .diagram-unit-tool-tip {
        visibility: hidden;
        min-width: 152px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 8px 8px 8px 0px;
        padding: 4px 12px 8px 12px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 60%;
        left: 340%;
        margin-left: -60px;
        box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.3);
        white-space: nowrap;
        /*background-color: #c3bebe;*/
        @include customize() {
            background-color: getValue(TooltipBackground);
        }

        @include customize() {
            color: getValue(MainPen);
        }
    }
    /* .diagram-unit-tool-tip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;

        border-color: @include customize() {
            background-color: getValue(TooltipBackground);
        },

        transparent transparent transparent;
    }*/

    &:hover .diagram-unit-tool-tip {
        visibility: visible;
    }
}

.activity-diagram-part {
    padding: 0 20px 16px 0;
    border-radius: $Radius8;
    width: 100%;

    @include customize() {
        background-color: getValue(SecondBackground);
    }
}

.month-row-caption {
    height: 48px;
    padding: 0 84px 0 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.diagram-day-result {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: row nowrap;

    .day-column-caption {
        width: 52px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: column nowrap;
    }

    .diagram-result-box {
        width: 100%;
        flex-grow: 2;
        display: grid;
        gap: 4px;
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(26, 1fr);

        .diagram-unit {
            width: 100%;
            max-height: 100%;
            aspect-ratio: 1/1;
        }
    }
}

.caption-item {
    font-style: normal;
    font-weight: 500;
    font-size: $FontSize14;
    line-height: 16px;

    @include customize() {
        color: getValue(DiagramPen);
    }
}

.status-diagram { //todo : please check this mabye not use it !!
    height: 100%;
    width: 100%;
    min-width: 386px;
    padding: 16px 19px 16px 16px;
    background-color: silver;
    box-sizing: border-box;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;

    @include customize() {
        background-color: getValue(SecondBackground);
    }
}

.loading-unit-11{
    background-color: #FF5C11;
    animation-name: animation-unit-one;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animation-unit-one {
    0%   {background-color: #FF5C11;}
    25%  {background-color: #FE9A6B;}
    50%  {background-color: #FE9A6B;}
    100% {background-color: #FFD8C7;}
}

.loading-unit-12{
    background-color: #FFD8C7;
    animation-name: animation-unit-two;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animation-unit-two {
    0%   {background-color: #FFD8C7;}
    25%  {background-color: #FF5C11;}
    50%  {background-color: #FE9A6B;}
    100% {background-color: #FFD8C7;}
}

.loading-unit-13{
    background-color: #FFD8C7;
    animation-name: animation-unit-three;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animation-unit-three {
    0%   {background-color: #FFD8C7;}
    25%  {background-color: #FFD8C7;}
    50%  {background-color: #FF5C11;}
    100% {background-color: #FE9A6B;}
}

.loading-unit-14{
    background-color: #FFD8C7;
    animation-name: animation-unit-four;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes animation-unit-four {
    0%   {background-color: #FFD8C7;}
    25%  {background-color: #FFD8C7;}
    50%  {background-color: #FFD8C7;}
    100% {background-color: #FF5C11;}
}

.color-guide-table {
    height: 100%;
    min-height: 228px;
    min-width: 130px;
    min-width: 128px;
    margin-left: 16px;
    padding: 16px 12px;
    box-sizing: border-box;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;

    @include customize() {
        background-color: getValue(SecondBackground);
    }

    @include customize() {
        color: getValue(MainPen);
    }

    .color-guide-title {
        font-size: 14px;
        margin-bottom: 16px;
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
    }
}


/*.color-guid {                                  //todo : please check this
    font-size: 9px;
    justify-content: flex-end;
    padding: 2px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}*/

.guide-list {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row nowrap;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize14;
        line-height: 20px;
        margin-bottom: 16px;

        div {
            margin-right: 8px;
            width: 20px;
            height: 20px;
        }
    }
}

.guide-list li:last-child {
    margin-bottom: 0;
}

.range-zero {
    @include customize() {
        background-color: getValue(OriginalGray);
    }
}

.range-one {
    @include customize() {
        background-color: getValue(OrangeDiagram1);
    }
}

.range-two {
    @include customize() {
        background-color: getValue(OrangeDiagram2);
    }
}

.range-three {
    @include customize() {
        background-color: getValue(OrangeDiagram3);
    }
}

.range-four {
    @include customize() {
        background-color: getValue(OrangeDiagram4);
    }
}

.nft-info-wrapper {
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 15px;
}

.nft-info {
    min-height: 98px;
    min-width: 273px;
    box-sizing: border-box;
    padding: 10px 8px 7px 8px;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;

    @include customize() {
        background-color: getValue(SecondBackground);
    }

    .nft-icon {
        width: 55px;
        height: 20px;
        background: url("images/icons/nft-icon.svg");
        background-repeat: no-repeat;
        background-size: 20px 55px;
        background-position: left;
        margin-bottom: 8px;
        padding-left: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize12;
        line-height: 14px;
        display: flex;
        align-items: center; // check for add justify contetnt

        @include customize() {
            color: getValue(SecondaryPen);
        }
    }

    .nft-info-header {
        margin-bottom: 6px;
    }

    .nft-value {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize12;
        line-height: 14px;

        @include customize() {
            color: getValue(SecondaryPen);
        }

        span {
            font-size: 16px;
            line-height: 19px;
            margin-right: 4px;

            @include customize() {
                color: getValue(MainPen);
            }
        }
    }
}

.nft-information {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 8px;
    //dont dont dont add align item please !!!!!!!!!
    .nft-information-box {
        min-width: 124px;
        padding: 1px 4px;
        border-radius: $Radius4;

        @include customize() {
            background-color: getValue(ThirdBackground);
        }
    }

    .nft-information-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize12;
        line-height: 14px;

        @include customize() {
            color: getValue(SecondaryPen);
        }
    }

    .nft-information-value {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: $FontSize14;
        line-height: 16px;

        @include customize() {
            color: getValue(LoadingSecondColor);
        }
    }
}

.nft-list-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    overflow: hidden;
}

.nft-list-container-loading-mode {
    height: 98px;
    width: 100%;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;

    @include customize() {
        background-color: getValue(SecondBackground);
    }
}

.nft-list-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 12px;
    padding: 0px;
    margin: 0px;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;

    .nft-box {
        width: 133px;
        height: 35px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: $FontSize16;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        padding: 0 8px;
        border-radius: $Radius8;

        @include customize() {
            background-color: getValue(SecondBackground);
        }

        @include customize() {
            color: getValue(MainPen);
        }
    }
}

.empty-mode {
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: $FontSize24;
    line-height: 28px;
    border-radius: $Radius8;

    @include customize() {
        background-color: getValue(SecondBackground);
    }

    @include customize() {
        color: getValue(MainPen);
    }
}

.about-tonrich-wrapper {
    height: 16px;
    display: flex;
    margin-top: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: $FontSize12;
    line-height: 14px;

    @include customize() {
        color: getValue(AboutSite);
    }

    .tonrich-site-icon {
        background: url("images/icons/tonrich-site-icon.svg");
        padding-left: 24px;
        background-repeat: no-repeat;
        background-size: $FontSize16;
        display: flex;
        align-items: center;
        margin-right: 23px; ///todo : check for add justify content after fix icon
    }

    .tonrich-telegram-icon {
        background: url("images/icons/tonrich-telegram-icon.svg");
        padding-left: 20px;
        background-repeat: no-repeat;
        background-size: 16px;
        display: flex;
        align-items: center; ///todo : check for add justify content after fix icon
    }
}

@media screen and (max-width: $Breakpoint) {
    .wallet-info {
        margin-bottom: 11px;
    }

    .dash {
        display: none;
    }

    .public-font-style {
        font-size: $FontSize10;
    }

    .tonrich-title {
        font-size: $FontSize20;
    }
}

@media screen and (max-width: $Breakpoint) {
    .trx-info-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 12px;

        .order-zero {
            background-color: red !important;
            order: 0;
        }
    }

    .color-guide-table {
        display: none;
    }

    .activity-diagram-wrapper {
        margin-top: 12px;
    }

    .nft-info-wrapper {
        flex-flow: column;
        margin-top: 12px;
    }

    .nft-info {
        width: 100%;
        display: flex;
        flex-flow: row;
        padding: 8px;
        justify-content: space-between;
    }
}


// this must be changed location

.about-me-link {
    text-decoration: none;

    @include customize() {
        color: getValue(AboutSite);
    }
}


/*old css code*/

/*$color-gray1: #EBEDF0;
$color-gray2: #e6e1e1;
$color-green1: #9BE9A8;
$color-green2: #40C463;
$color-green3: #30AB44;
$color-green4: #216E39;*/

/*new css code*/


/*.tonrich-container {
    background-color: $MainBackground;
    max-width: 914px;
    min-width: 426px;
    min-height: 689px;
    margin: 73px auto;
    border-radius: $Radius32;
    padding: 32px 32px 15px 32px;
    box-sizing: border-box;
}

.owner-info-wrapper {
    display: flex;
    border-bottom: 1.5px solid #E7E7E7;
}

.wallet-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.tonrich-logo {
    background-color: orange;
    min-width: 82px;
    height: 52px;
    margin-right: 20px;
    border-radius: $Radius8;
}

.tonrich-title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: $FontSize24;
    line-height: 28px;
}

.wallet-name {
    margin-right: 5px;
}

.public-font-style {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: $FontSize16;
    line-height: 21px;
}*/

/*part two*/

/*.trx-info-wrapper {
    display: grid;
    gap: 15px;
    margin-top: 28px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.trx-group {
    height: 56px;
    padding: 14px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: $SecondBackground;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;
}


.balanc-logo {
    width: 32px;
    height: 32px;
    background-color: red;
    border-radius: $Radius4;
    margin-right: 6px;
}

.trx-titles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: $FontSize12;
    line-height: 14px;
    color: $Gray3;
    margin-bottom: 4px;
}

.trx-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: $FontSize12;
    line-height: 14px;
    color: $Gray3;
}


.trx-count {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: $FontSize16;
    line-height: 19px;
    color: $MainBlack;
}*/



/* diagram*/

/*.activity-diagram-wrapper {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 228px;
}

.status-diagram {
    background-color: silver;
    padding: 16px 19px 16px 16px;
    height: 100%;
    box-sizing: border-box;
    background-color:$SecondBackground;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;
    min-width: 386px;
    width: 100%;
}

.color-guide-table {
    width: 128px;
    height: 100%;
    padding: 16px 12px;
    box-sizing: border-box;
    background-color: $Gray3;
   background-color:$SecondBackground;
    box-shadow:$MainShadowBox;
    border-radius: $Radius8;
    margin-left: 16px;
}

.color-guide-title {
    text-align: center;
    margin-bottom: 16px;
}

.nft-info-wrapper {*/
/*  height: 98px;*/
/*margin-top: 28px;
    display: flex;
    gap: 15px;
    width: 100%;
    flex-flow: row;
}

.nft-info {*/
/* height: 100%;*/
/*box-sizing: border-box;
    width: 273px;
    height:98px;
    background-color:$SecondBackground;
    box-shadow: $MainShadowBox;
    border-radius: $Radius8;
}

.purches-info {
    width: 100%;
    height:98px;
    background: silver;
    border-radius: $Radius8;
}*/

/* table*/
/*.activity-info-diagram-container {
    border: red 1px solid;
    border-radius: 2px;
    padding: 2px;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    width: max-content;
}


.activity-table {
    column-count: 32;
}

.header-td {
    column-span: revert;
    font-size: 10px;
}

.td {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.color-guid {
    font-size: 9px;
    justify-content: flex-end;
    padding: 2px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.color1 {
    background-color: black;
}

.color2 {
    background-color: black;
}

.color3 {
    background-color: black;
}

.color4 {
    background-color: black;
}

.color5 {
    background-color: black;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 150px;
    color: green;
    font-size: 10px;
    background-color: greenyellow;
    border-radius: 5px;
    padding: 5px;
}

.about-tonrich-wrapper {
    display: flex;
    margin-top: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: $FontSize12;
    line-height: 14px;


    color: #A6A6A6;
}


@media screen and (max-width: $Breakpoint2) {
    .wallet-info {
        margin-bottom: 11px;
        display: flex;
        flex-flow: column;
    }

    .dash {
        display: none;
    }
}
@media screen and (max-width: $Breakpoint3) {
    .public-font-style{
        font-size: $FontSize10;
    }
    .tonrich-title{
        font-size: $FontSize20;
    }
}

@media screen and (max-width: $Breakpoint1) {
    .trx-info-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .color-guide-table{
        display: none;
    }
    .trx-info-wrapper {
        margin-top: 12px;
    }
    .activity-diagram-wrapper{
        margin-top: 12px;
        height:126px;
    }
    .nft-info-wrapper{
        flex-flow:column;
        margin-top:12px;
    }
    .nft-info{
        width:100%;
        height:61px;
    }
    
}*/



/*old css code*/

/*.page-container {
    display: flex;
    flex-direction: column;
    border: gray 1px solid;
    padding: 5px;
    width: 455px;
    overflow-x: hidden;
    -ms-overflow-style: none;*/ /* IE and Edge */
/*scrollbar-width: none;
}
.page-container::-webkit-scrollbar {
    display: none;
}
.info-container {
    display: flex;
}

.owner-info-container {
    @extend .info-container;
    font: 'Roboto';
    font-size: 10px;
    font-weight: bold;
    border: $color-gray1 1px solid;
    border-radius: 2px;
    padding: 2px;
    gap: 5px;
}

.trx-info-container {
    @extend .info-container;
    flex-direction: row;

    .trx-part {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    .trx-balance-part {
        @extend .trx-part;
    }

    .trx-deposit-part {
        @extend .trx-part;
    }

    .trx-spend-part {
        @extend .trx-part;
    }
}

.nft-info-container {
    @extend .info-container;
    padding: 2px;
    gap: 3px;

    .nft-container {
    }

    .nfts {
        @extend .info-container;
        font-size: 10px;
        gap: 2px;
        max-width: 350px;
        align-items: center;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr 1fr;
        overflow-x: auto;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
        scrollbar-color: green;

        .nft {
            width: 90px;
            border: $color-gray1 1px solid;
            border-radius: 2px;
            padding: 2px;
        }
    }

    .nfts::-webkit-scrollbar-track {
        padding: 2px 0;
        background-color: #EBEDF0;
    }

    .nfts::-webkit-scrollbar {
        width: 2px;
        height:5px;
 
    }

    .nfts::-webkit-scrollbar-thumb {
        border-radius: 2px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #9BE9A8;
        
    }
}




.activity-info-diagram-container {
    @extend .info-container;
    border: $color-gray1 1px solid;
    border-radius: 2px;
    padding: 2px;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    width: max-content;

    .activity-table {
        column-count: 32;

        .header-td {
            column-span: revert;
            font-size: 10px;
        }
    }

    .td {
        width: 11px;
        height: 11px;
        border: $color-gray2 0.5px solid;
        border-radius: 2px;
    }

    .color-guid {
        @extend .info-container;
        font-size: 9px;
        justify-content: flex-end;
        padding: 2px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .color1 {
            background-color: $color-gray1;
        }

        .color2 {
            background-color: $color-green1;
        }

        .color3 {
            background-color: $color-green2;
        }

        .color4 {
            background-color: $color-green3;
        }

        .color5 {
            background-color: $color-green4;
        }
    }
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 150px;
    color: $color-green4;
    font-size: 10px;
    background-color: $color-gray1;
    border-radius: 5px;
    padding: 5px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

#top {
    top: -40px;
    left: -50%;
}



#right {
    top: -8px;
    left: 120%;
}


.hover-text {
    position: relative;
    padding: 2px;
    text-align: center;
}*/
