@namespace Tonrich.Client.Shared.Pages
@page "/pluginwallet/{WalletId}"
@inject IJSRuntime JS
@inherits AppComponentBase

<PageTitle>Wallet</PageTitle>


<section id="main" class="main-wrapper theme-@Theme @(isAccountBoxBusy?"loading":"loaded")">
    <EnrichedWallet WalletId="@WalletId" OnAccountLoad="AccountLoad" IsPlugin=true />
</section>
