// Theme :
$themes: ( 
    light: ( 
            MainBackground: #F3F2F2,
            SecondBackground: #fff,
            ThirdBackground: #FFF3ED,
            MainPen: #313131,
            SecondaryPen: #8D8D8D, 
            ThirdPen: #FF5C11,
            DiagramPen: #5A5A5A,
            OrangePen: #FF5C11,
            OriginalGray: #EBEBEB,
            ScrollGray: #DBDBDB,
            OrangeDiagram1: #FFD8C7,
            OrangeDiagram2: #FE9A6B,
            OrangeDiagram3: #FF783A,
            OrangeDiagram4: #FF5C11,
            LoadingMainColor: #313131,
            LoadingSecondColor: #FF5C11,
            AboutSite:#8D8D8D,
            TooltipBackground: #EBEBEB,
            TooltipHeaderTitle:#FC4C25,
            CopyTooltipBackground: #373737,
            CopyTooltipPen: #fff,
            WalletIdBackground: #FFF3ED,
            BetweenLine: #EBEBEB,

            //landing
            PageBackground: #F3F2F2,
            HeroBackground: #D9D9D9,
            FooterPen: #261005, /// check with design team

            // New EnrichedWallet:
            EnrichedWallet-background: unquote('url("./images/background-images/Main-page-background.png") top/cover no-repeat, #7f7f7f'),

            // New Footer:
            Footer-color: #FFF,
            Footer-background: #7f7f7f,
        ),
    dark: (
            MainBackground: #323232,
            SecondBackground: #5A5A5A,
            ThirdBackground: #777777,
            MainPen: #FFFFFF,
            SecondaryPen: #C2C2C2, 
            ThirdPen: #FFD8C7,
            DiagramPen: #fff,
            OrangePen: #FF5C11,
            OriginalGray: #8A8A8A,
            OrangeDiagram1: #FFD8C7,
            OrangeDiagram2: #FE9A6B,
            OrangeDiagram3: #FF783A,
            OrangeDiagram4: #FF5C11,
            LoadingMainColor: #FFF,
            LoadingSecondColor: #FFF,
            AboutSite:#8A8A8A,
            TooltipBackground: #C2C2C2,
            TooltipHeaderTitle:#261005,
            CopyTooltipBackground: #fff,
            CopyTooltipPen: #373737,
            WalletIdBackground: #5A5A5A,
            BetweenLine: #5A5A5A,


            //landing
            PageBackground: #000,
            HeroBackground: #1C1A1A,
            FooterPen: #fff,/// check with design team

            // New EnrichedWallet:
            EnrichedWallet-background: unquote('url("./images/background-images/Main-page-background.png") top/cover no-repeat, #000'),
            
            // New Footer:
            Footer-color: #fff,
            Footer-background: #000,
        )
    );

// font and line-height variables
$FontSize10: 10px;
$FontSize12: 12px;
$FontSize14: 14px;
$FontSize16: 16px;
$FontSize20: 20px;
$FontSize24: 24px;
$FontSize34: 34px;
$FontSize48: 48px;
$FontSize96: 96px;

// border-radius variable
$Radius32: 32px;
$Radius8: 8px;
$Radius4: 4px;

// box-shadow variable
$MainShadowBox: 0px 0px 22px 1px rgba(65, 64, 64, 0.07);
$SecondShadowBox: 0px 20px 22px 1px rgba(65, 64, 64, 0.07);

//breakpoint variable
$Breakpoint3: 600px;
$Breakpoint: 610px;
$Breakpoint2: 665px;
$Breakpoint1: 780px;

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #DBDBDB;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF5C11;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FF5C11;
  }

  .tonrich-primary-btn {
    height: 6.4rem;
    padding: 0 3rem;
    font-family: Ubuntu;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2rem;
    border-radius: 4rem;
    color: #fff;
    background: linear-gradient(142deg, #FC4C25 0%, #FEB752 100%);
  }

  .tornich-secondary-btn {

  }

///todo: old
$PrimaryColor: #0078D4;
$SecondaryColor: #0D2960;
$S1Color: #183977;
$S2Color: #204383;
$S3Color: #7186B4;
$S4Color: #C1CADF;

$Black: #201F1E;
$Black3: #323130;
$White: #FFFFFF;
$Red: #A4262C;

$Gray1: #8A8886;
$Gray2: #A19F9D;
$Gray3: #DDDDDD;
$Gray4: #EDEBE9;
$Gray5: #F2F2F2;
$Gray6: #FCFCFC;

$Green1: #38ad17;
$Green2: #76d31a;



