// Theme
$themes: ( 
    light: ( 
            MainBackground: #F3F2F2,
            SecondBackground: #fff,
            ThirdBackground: #FFF3ED,
            MainPen: #313131,
            SecondaryPen: #8D8D8D, 
            ThirdPen: #FF5C11,
            DiagramPen: #5A5A5A,
            OrangePen: #FF5C11,
            OriginalGray: #EBEBEB,
            ScrollGray: #DBDBDB,
            OrangeDiagram1: #FC4C25,
            OrangeDiagram2: #FF783A,
            OrangeDiagram3: #FE9A6B,
            OrangeDiagram4: #FFD8C7,
            LoadingMainColor: #313131,
            LoadingSecondColor: #FF5C11,
            //DarkGray: #313131,
            AboutSite:#8D8D8D,
        ),
    dark: (
            MainBackground: #323232,
            SecondBackground: #5A5A5A,
           //SecondBackground: #C2C2C2,
            ThirdBackground: #777777,
            MainPen: #FFFFFF,
            SecondaryPen: #C2C2C2, 
            ThirdPen: #FFD8C7,
            DiagramPen: #5A5A5A,
            OrangePen: #FF5C11,
            OriginalGray: #8A8A8A,
           // ScrollGray: #777777,
            OrangeDiagram1: #FF5C11,
            OrangeDiagram2: #FF783A,
            OrangeDiagram3: #FE9A6B,
            OrangeDiagram4: #FFD8C7,
            LoadingMainColor: #FFF,
            LoadingSecondColor: #FFF,
            //DarkGray: #313131,
             AboutSite:#8A8A8A,
        )
    );

// font and line-height variables
$FontSize10: 10px;
$FontSize12: 12px;
$FontSize14: 14px;
$FontSize16: 16px;
$FontSize20: 20px;
$FontSize24: 24px;

// border-radius variable
$Radius32: 32px;
$Radius8: 8px;
$Radius4: 4px;

// box-shadow variable
$MainShadowBox: 0px 0px 22px 1px rgba(65, 64, 64, 0.07);
$SecondShadowBox: 0px 20px 22px 1px rgba(65, 64, 64, 0.07);

//breakpoint variable
$Breakpoint1: 780px;
$Breakpoint2: 665px;
$Breakpoint3: 600px;

///todo: old
$PrimaryColor: #0078D4;
$SecondaryColor: #0D2960;
$S1Color: #183977;
$S2Color: #204383;
$S3Color: #7186B4;
$S4Color: #C1CADF;

$Black: #201F1E;
$Black3: #323130;
$White: #FFFFFF;
$Red: #A4262C;

$Gray1: #8A8886;
$Gray2: #A19F9D;
$Gray3: #DDDDDD;
$Gray4: #EDEBE9;
$Gray5: #F2F2F2;
$Gray6: #FCFCFC;

$Green1: #38ad17;
$Green2: #76d31a;

