@using Tonrich.Client.Shared.Shared
@using Tonrich.Shared.Util;
@inherits AppComponentBase

<div class="recap-section">
    <div class="recap-content">
        <div class="recap-header">Let’s recap!</div>
        <div class="recap-text">
            Do you want to know more about TON wallets and their
            transactions?
        </div>
        <div class="recap-text">
            Do you want to access rich and detailed information about
            any wallet in TON with just a simple hover?
        </div>
        <div class="recap-text">
            Do you want to gain a competitive edge in the NFT market by
            analyzing the behavior of your competitors in real-time?
        </div>
        <button class="recap-btn">
            Try TonRich<span class="btn-arrow"></span>
        </button>
    </div>
    <div class="recap-img"></div>
</div>